%h1 Welcome to Sinatra!
%p
  What is inside?
  %table
    %thead
      %tr
        %th Language
        %th Web Framework
        %th UI Framework
    %tbody
      %tr
        %td Ruby
        %td Sinatra
        %td HTML5 boilerplate
      %tr
        %td
        %td Version 1.4.4
        %td Version 4.3.0
  %p
    Links
  %ul
    %li
      %a{:href => "http://www.ruby-lang.org/"} Ruby
    %li
      %a{:href => "http://www.sinatrarb.com/"} Sinatra
    %li
      %a{:href => "http://html5boilerplate.com/"} HTML5 boilerplate